/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*Custom CSS*/

*{
  font-family: 'Lato', sans-serif;
}

.site-title {
    color: #7F7F7F;
}

h2.page-title-logo {
    line-height: 0px;
    text-transform: uppercase;
}

h2.page-title-dsecription {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

header.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 15px 0;
        position: absolute;
    z-index: 999;
    width: 100%;
}

li {
    display: flex;
    /*padding-left: 26px;*/
    list-style: none;
}

ul.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.menu li:not(:last-child){
  padding-right: 24px;
  position: relative;
}

/*body::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
   115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), 
  url(images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }*/

  .slick-slide img {
    display: block;
    max-width: 100%;
}

.single-item__data {
    position: relative;
}

.single-item__description {
    /* position: absolute; */
    /* top: 304px; */
    /* left: 333px; */
    margin: auto;
    text-align: center;
    max-width: 70%;
}

.single-item__description__container {
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 304px;
    width: 100%;
}

.single-item__description h1 {
    font-size: 80px;
    letter-spacing: 20px;
    color: #fff;
}

.single-item__description p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.single-item__description button {
    padding: 10.4px 35.9px 13.6px;
    font-family: 'Lato';
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
  }

/*.dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background: #D2E2EE;
}

.menu li :hover > .dropdown-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #D2E2EE;
}*/

ul.dropdown-menu{
  display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: -64px;
    background: #D2E2EE;
    width: 167px;
    word-spacing: 5px;
    padding: 5px 9px 5px 36px;
    text-align: center;
    margin-top: 49px;
}

.dropdown-menu ul{
  display: block;
  margin: 10px
}

.menu li:hover .dropdown-menu{
  display: block;
}

.services-section {
    text-align: center;
    margin: 102px 118.7px;
    line-height: 32px;
}

.services-section__title p {
    font-size: 18px;
    word-spacing: 9px;
    letter-spacing: 2px;
    font-weight: bold;
}

.services-section__list p {
    font-size: 24px;
    font-weight: 900;
    word-spacing: 15px;
    letter-spacing: 3px;
}

.border-section {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}


.border-section {
    display: flex;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 108px;
}

.border-2 {
    padding: 0 15px;
}

.featured-projects p {
    text-align: center;
}

.featured-projects-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-6-title p {
    font-size: 14px;
    font-weight: bold;
}

.col-6-cat p {
    font-size: 14px;
    padding-bottom: 63px;
}

.featured-projects p {
    text-align: center;
}

p#featured-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 64px;
    word-spacing: 15px;
    letter-spacing: 3px;
}

.featured-button {
    text-align: center;
}

.featured-button button {
    color: #fff;
    background-color: #000;
    text-align: center;
    font-size: 18px;
    padding: 10px 39.5px 13px 39.5px;
    font-weight: bold;
    word-spacing: 6px;
    letter-spacing: 1px;
}

.main-footer {
    background: #2C2C2C;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 132px;
}

.footer-logo {
    padding: 91px 5px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons-img{
  color: #fff;
}

div#outer-circle-1 {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* position: relative; */
    text-align: center;
  }

  div#outer-circle-2 {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* position: relative; */
    text-align: center;
  }

  div#outer-circle-3 {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* position: relative; */
    text-align: center;    
    margin-right: 15px;
  }
  .contacts{
    max-width: 1200px;
    margin: 0 auto;
  }

  .social-icons li{
    display: inline-flex;

  }

  .social-icons {
    display: flex;
    justify-content: end;
}

.contact-address{
  font-family: 'Open Sans', sans-serif;
}

.contact-address p {
    font-size: 14px;
    color: #fff;
    word-spacing: 5px;
    line-height: 0;
    text-align: end;
}